<h1>Listing productos</h1>

<table>
  <tr>
    <th>Fk tipo producto</th>
    <th>Fk marca</th>
    <th>Fk categoria</th>
    <th>Name</th>
    <th>Descripcion</th>
    <th>Foto</th>
    <th>Publicar</th>
    <th>Destacado</th>
    <th>Precio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%= producto.fk_tipo_producto %></td>
    <td><%= producto.fk_marca %></td>
    <td><%= producto.fk_categoria %></td>
    <td><%= producto.name %></td>
    <td><%= producto.descripcion %></td>
    <td><%= producto.foto %></td>
    <td><%= producto.publicar %></td>
    <td><%= producto.destacado %></td>
    <td><%= producto.precio %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Producto', new_producto_path %>
